<% if user_signed_in? %>
  <div class="d-flex">
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
    <%= link_to "Mes résas", profile_path(current_user), class: 'btn btn-secondary' %>
    <%= link_to "Voir les rooms", rooms_path, class: 'btn btn-secondary' %>
  </div>
<% else %>
  <%= link_to "Sign in", new_user_session_path, method: :delete, class: 'btn btn-success' %>
<% end %>