<h1>Accéder à l'application test d'Hotwire</h1>
<%= link_to "See rooms", rooms_path %>

<p>L'application est une plateforme type Airbnb ou l'utilisateur peut ajouter des chambres ou reserver une chambre</p>